<p>I can't wait until I have <%= @number %> reviews!</p>

<!-- Loop through reviews -->
<% @reviews.each do |review| %>
    <div class="review">
    <%= link_to review.title, review_path(review) %>
    </div>

<% end %>